@import 'config';
@import 'icons';

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Microsoft Yahei', '微软雅黑', '黑体', arial;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.clearfix{
  display: block;
  float: none;
  &::after{
    display: block;
    clear: both;
    content: '';
  }
}

.site-container{
  height: 100%;
}

.page-container{
  // height: 100%;
}

.full-width-container{
  margin-top: 60px;
  height: 100%;
}

.container{
  width: $CONTENT_WIDTH;
  margin: {
    right: auto;
    left: auto;
  };
}