{
  "presets": [
    [
      "@babel/env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "not IE <= 10"
          ]
        },
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "react-hot-loader/babel",
    "@babel/transform-runtime",
    "@babel/proposal-class-properties",
    ["import", {
      "libraryName": "antd",
      "style": false
    }],
    ["prismjs", {
      "languages": ["javascript", "css", "jsx"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}