@import "~scssinc";

.page-index{
  min-height: 100%;

  .header{
    position: relative;
    height: 850px;
    margin-bottom: 250px;
    padding-top: 10px;
    background-color: $COLOR_DARK;
    // background-image: linear-gradient(to bottom, $COLOR_DARK, $COLOR_DARK - 10);
    .caption,
    .sub-caption{
      padding: 0;
      color: #fff;
      text-align: center;
    }
    .caption{
      margin-top: 180px;
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 500;
    }
    .sub-caption{
      margin-top: 10px;
      font-size: 18px;
      font-weight: lighter;
    }
    .buttons{
      margin-top: 30px;
      text-align: center;
      a{
        display: inline-block;
        box-sizing: border-box;
        width: 160px;
        height: 40px;
        margin: 0 10px;
        border: 1px solid #fff;
        border-radius: 3px;
        font-size: 14px;
        line-height: 40px;
        text-decoration: none;
        cursor: pointer;
        &:hover{
          opacity: .9;
        }
      }
      .button-view-doc{
        background-color: #fff;
        color: $COLOR_DARK;
      }
      .button-fork{
        background-color: transparent;
        color: #fff;
        &:hover{
          background-color: rgba(#fff, .1);
        }
      }
    }
  
    .easy-demo{
      width: 900px;
      margin: 100px auto 0 auto;
      overflow: hidden;
      background-color: #fff;
      background-clip: content-box;
      border-radius: 5px;
      border: 1px solid rgba(#000, .2);
      box-shadow: 0 15px 40px rgba(#000, .2);
      .bar{
        position: relative;
        height: 30px;
        background-image: linear-gradient(#f1f1f1, #e1e1e1);
        border-bottom: 1px solid #aaa;
        border-radius: 5px 5px 0 0;
        .icon{
          float: left;
          width: 12px;
          height: 12px;
          margin: 9px 4px 0 4px;
          border: 1px solid rgba(#000, .1);
          border-radius: 50%;
          &-red{
            margin-left: 14px;
            background-color: #eb6a5d;
          }
          &-yellow{
            background-color: #f5c250;
          }
          &-green{
            background-color: #0bd417;
          }
        }
        .title{
          position: absolute;
          left: 50%;
          width: 300px;
          margin: 0 auto;
          overflow: hidden;
          color: #777;
          font-size: 13px;
          font-weight: 500;
          line-height: 30px;
          text-align: center;
          transform: translateX(-50%);
        }
      }
    }
    .demo-editor{
      height: 390px;
      overflow: auto;
    }
    .demo-code{
      box-sizing: border-box;
      height: 492px;
      margin: 0;
      padding: 15px 30px;
      overflow: auto;
      background-color: $COLOR_DARK;
      font-size: 14px;
    }
    .mode-switch{
      box-sizing: content-box;
      width: 220px;
      height: 38px;
      margin: 50px auto;
      overflow: hidden;
      border: 1px solid $COLOR_ACTIVE;
      border-radius: 19px;
      button{
        box-sizing: border-box;
        width: 110px;
        height: 38px;
        background-color: #fff;
        border: none;
        color: $COLOR_ACTIVE;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        cursor: pointer;
        &:first-child{
          border-right: 1px solid $COLOR_ACTIVE;
        }
        &.active{
          background-color: $COLOR_ACTIVE;
          color: #fff;
        }
      }
    }
  }

  .index-section{
    padding: 150px 0;
    .caption{
      margin: 0;
      padding: 0;
      text-align: center;
      span{
        color: #515559;
        font-size: 28px;
        font-weight: 400;
      }
      small{
        display: block;
        margin-top: 10px;
        color: #818589;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  .section-features{
    border-top: 1px solid #e1e1e1;
    .features{
      margin-top: 60px;
      overflow: hidden;
      .item{
        box-sizing: border-box;
        width: ($CONTENT_WIDTH - 60) / 4;
        height: 300px;
        float: left;
        margin: 0 10px;
        padding: 10px;
        text-align: center;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        .icon{
          display: block;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          background-size: 80px auto;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          &-1{
            background-image: url(../../assets/images/heart-with-ribbon.svg);
          }
          &-2{
            background-image: url(../../assets/images/clapper-board.svg);
          }
          &-3{
            background-image: url(../../assets/images/artist-palette.svg);
          }
          &-4{
            background-image: url(../../assets/images/electric-plug.svg);
          }
        }
        .title{
          margin: 30px 0 0 0;
          color: $COLOR_ACTIVE;
          font-size: 18px;
          font-weight: 400;
        }
        .description{
          color: #919599;
          font-size: 12px;
        }
      }
    }
  }

  .section-demos{
    background-color: #f1f1f1;
    .demos{
      margin-top: 60px;
      .item{
        position: relative;
        display: block;
        box-sizing: border-box;
        width: ($CONTENT_WIDTH - 60) / 4;
        height: 80px;
        float: left;
        margin: 0 10px 10px 10px;
        background-color: #fff;
        border-radius: 5px;
        color: #616569;
        font-size: 16px;
        line-height: 80px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        transition: .3s;
        &:first-child,
        &:nth-child(5n + 0){
          margin-left: 0;
        }
        &:nth-child(4n + 0){
          margin-right: 0;
        }
        &:hover{
          z-index: 2;
          background-color: #fafafa;
          box-shadow: 0 10px 30px rgba(#000, .1);
        }
        &.disabled{
          background-color: #f9f9f9;
          pointer-events: none;
        }
      }
    }
  }

  .section-donate{
    .donate-qrcodes{
      width: 600px;
      margin: 50px auto 0 auto;
      overflow: hidden;
      > div{
        float: left;
        width: 300px;
        img{
          display: block;
          width: 180px;
          height: 180px;
          margin: 0 auto;
          border: 1px solid #eee;
          border-radius: 5px;
          box-shadow: 0 5px 30px rgba(#000, .06);
          &:hover{
            border-color: rgba($COLOR_ACTIVE, .3);
            box-shadow: 0 5px 30px rgba($COLOR_ACTIVE, .2);
          }
        }
        span{
          display: block;
          margin-top: 20px;
          color: #818589;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }

}

@keyframes index-header-gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}