@import "~scssinc";

.sidebar{
  position: sticky;
  top: 60px;
  box-sizing: border-box;
  width: 240px;
  height: 100%;

  .demo-entries{
    margin: 50px 0;
    a{
      display: block;
      margin-right: -1px;
      padding: 0 30px 0 0;
      border-right: 2px solid transparent;
      color: #515559;
      font-size: 16px;
      line-height: 48px;
      text-decoration: none;
      &:hover{
        color: $COLOR_ACTIVE;
      }
      &.active{
        border-right-color: $COLOR_ACTIVE;
        color: $COLOR_ACTIVE;
        pointer-events: none;
      }
    }
  }

}